{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<div class="profile-preview">
    {% if request.user.profile.photo %}
        <img src="{{ request.user.profile.photo.url }}" alt="Фото пользователя">
    {% else %}
        <img src="{{ default_image }}" alt="Фото пользователя">
    {% endif %}
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for f in user_form %}
        <p>
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
            {{ f }}
        </p>
        {% if f.errors %}
            <div class="form-error">{{ f.errors }}</div>
        {% endif %}
    {% endfor %}

    {% for f in profile_form %}
        <p>
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
            {{ f }}
        </p>
        {% if f.errors %}
            <div class="form-error">{{ f.errors }}</div>
        {% endif %}
    {% endfor %}

    <button type="submit">Сохранить</button>
</form>

<p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
{% endblock %}
