{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Добро пожаловать в наш каталог автомобилей</p>

<h3>Последние добавленные автомобили:</h3>
<div class="cars-grid">
    {% for car in cars %}
    <div class="car-card">
        {% if car.photo %}
            <p><img src="{{ car.photo.url }}" alt="{{ car.title }}" style="max-width: 100%; height: auto; display: block; margin-bottom: 10px;"></p>
        {% endif %}

        <h3><a href="{{ car.get_absolute_url }}">{{ car.title }}</a></h3>
        <p>{{ car.brand }} {{ car.model_name }} ({{ car.year }})</p>
        {% if car.category %}<p class="category">{{ car.category.name }}</p>{% endif %}
        {% if car.tags.all %}
        <p class="tags">{% for tag in car.tags.all %}{{ tag.tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        {% endif %}
        <p>${{ car.price }}</p>
    </div>
    {% empty %}
    <p>Автомобили пока не добавлены.</p>
    {% endfor %}
</div>

<p><a href="{% url 'cars:cars_list' %}">Все автомобили</a></p>
{% endblock %}

{% block navigation %}
{% include 'cars/includes/pagination.html' %}
{% endblock %}
